<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mangajet.mangajet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MangaJetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MangaJet"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.settings.options.TesterButtonsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.options.MangaAuthorizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.options.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.options.CacheSettingActivity"
            android:exported="false" />
        <activity
            android:name=".authorization.AuthorizationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mangareader.MangaReaderActivity"
            android:exported="false" />
        <activity
            android:name=".aboutmanga.AboutMangaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>